In [4]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM,BitsAndBytesConfig
#FINE-TUNING PRE-TRAINED LLAMA ON TPCDSA DATA

import torch
from peft import (
    LoraConfig,
    PeftConfig,
    PeftModel,
    get_peft_model,
    prepare_model_for_kbit_training
)

from transformers import (
    AutoModelForCausalLM,
    AutoTokenizer,
    BitsAndBytesConfig,
    HfArgumentParser,
    TrainingArguments,
    pipeline,
    logging,
)

In [5]:
model_name = "codellama/CodeLlama-34b-hf"
tokenizer = AutoTokenizer.from_pretrained(model_name)

quantization_config = BitsAndBytesConfig(
   load_in_4bit=True,
    bnb_4bit_use_double_quant=True,
    bnb_4bit_quant_type="nf4",
    bnb_4bit_compute_dtype=torch.float16,
)


base_model = AutoModelForCausalLM.from_pretrained(
    model_name,
    trust_remote_code=True,
    quantization_config=quantization_config,
    device_map='auto',
    use_cache=True
    )

Loading checkpoint shards:   0%|          | 0/7 [00:00<?, ?it/s]

In [7]:
eos_token_id = tokenizer.eos_token_id

In [27]:
#generating responses for all test dataset
import os
import time
import sqlparse
query_time=""
prompt_folder="data/sqlcoder/question_and_schema"

for queryIdx in range(1):
    start=time.time()
    with open(f"{prompt_folder}/combine{queryIdx+1}.txt","r") as file:
        codellama_prompt= file.read()
        print(codellama_prompt)
        print(f"{prompt_folder}/combine{queryIdx+1}.txt")
    print(f"started infernece for {queryIdx+1}")
    inputs = tokenizer(codellama_prompt, return_tensors="pt").to("cuda")
    generated_ids = base_model.generate(**inputs,num_return_sequences=1,eos_token_id=eos_token_id,pad_token_id=eos_token_id,max_new_tokens=1500,do_sample=False,num_beams=1)
    outputs = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)
    query_time+= str(time.time() - start)  +"\n"
    print(f"inference finished for query{queryIdx+1}")
    with open(f"data/sqlcoder/queries/query_{queryIdx+1}.txt","w") as response_file:
        content=sqlparse.format(outputs[0].split("```sql")[-1], reindent=True)
        response_file.write(content)
        response_file.close()
        print("completed writing response to a file")

with open(f"data/sqlcoder/querytime/query-time.txt","w") as time_file:
            time_file.write(query_time)
            time_file.close()

Retrieve the customer IDs of customers who have returned items significantly more frequently (over 20% above the average return rate) than the average customer return rate for a store in the state of South Dakota in the year 2000. This query calculates the total returns for each customer at each store and compares it to the store's average returns for the specified year. It then retrieves the customer IDs of those whose returns exceed the calculated threshold. The results are sorted by customer ID, and a limit of 100 records is applied

CREATE TABLE store_returns (  sr_returned_date_sk,  sr_return_time_sk,  sr_item_sk,  sr_customer_sk,  sr_cdemo_sk,  sr_hdemo_sk,  sr_addr_sk,  sr_store_sk,  sr_reason_sk,  sr_ticket_number,  sr_return_quantity,  sr_return_amt,  sr_return_tax,  sr_return_amt_inc_tax,  sr_fee,  sr_return_ship_cost,  sr_refunded_cash,  sr_reversed_charge,  sr_store_credit,  sr_net_loss );

CREATE TABLE date_dim (  d_date_sk,  d_date_id,  d_date,  d_month_seq,  d_week_seq,  d_quarter_seq,  d_year,  d_dow,  d_moy,  d_dom,  d_qoy,  d_fy_year,  d_fy_quarter_seq,  d_fy_week_seq,  d_day_name,  d_quarter_name,  d_holiday,  d_weekend,  d_following_holiday,  d_first_dom,  d_last_dom,  d_same_day_ly,  d_same_day_lq,  d_current_day,  d_current_week,  d_current_month,  d_current_quarter,  d_current_year );

CREATE TABLE store (  s_store_sk,  s_store_id,  s_rec_start_date,  s_rec_end_date,  s_closed_date_sk,  s_store_name,  s_number_employees,  s_floor_space,  s_hours,  s_manager,  s_market_id,  s_geography_class,  s_market_desc,  s_market_manager,  s_division_id,  s_division_name,  s_company_id,  s_company_name,  s_street_number,  s_street_name,  s_street_type,  s_suite_number,  s_city,  s_county,  s_state,  s_zip,  s_country,  s_gmt_offset,  s_tax_percentage );

CREATE TABLE customer (  c_customer_sk,  c_customer_id,  c_current_cdemo_sk,  c_current_hdemo_sk,  c_current_addr_sk,  c_first_shipto_date_sk,  c_first_sales_date_sk,  c_salutation,  c_first_name,  c_last_name,  c_preferred_cust_flag,  c_birth_day,  c_birth_month,  c_birth_year,  c_birth_country,  c_login,  c_email_address,  c_last_review_date_sk );
/workspace/data/tpcds-insights-new/data/sqlcoder/query_and_schema/combine1.txt
started infernece for 1
inference finished for query1
completed writing response ot a file

In [ ]:
#execute randomly sampled 99 queries on duckdb


import duckdb
import os
import time

# Define the connection parameters
query_path='data/sqlcoder/queries/'
query_result='data/sqlcoder/results/'
query_time_file='data/sqlcoder/querytime/log.txt'

# Connect to the DB 
db_con = duckdb.connect()

# Load the TPCDS database
db_con.execute("IMPORT DATABASE '/workspace/data/duckdb/build/release/tpcdssf100'")

print("Loading of TPCDS DB complete.")

# Create a folder to store query results
os.makedirs(query_result, exist_ok=True)

query_files = [f for f in os.listdir(query_path) if os.path.isfile(os.path.join(query_path, f))]
query_files = sorted(query_files)
query_exec_time=""

In [3]:
query_files

['query_1.sql',
 'query_10.sql',
 'query_12.sql',
 'query_13.sql',
 'query_14.sql',
 'query_15.sql',
 'query_16.sql',
 'query_17.sql',
 'query_18.sql',
 'query_19.sql',
 'query_2.sql',
 'query_20.sql',
 'query_21.sql',
 'query_22.sql',
 'query_23.sql',
 'query_24.sql',
 'query_25.sql',
 'query_26.sql',
 'query_27.sql',
 'query_28.sql',
 'query_29.sql',
 'query_3.sql',
 'query_30.sql',
 'query_31.sql',
 'query_32.sql',
 'query_33.sql',
 'query_34.sql',
 'query_35.sql',
 'query_36.sql',
 'query_37.sql',
 'query_38.sql',
 'query_39.sql',
 'query_4.sql',
 'query_40.sql',
 'query_41.sql',
 'query_42.sql',
 'query_43.sql',
 'query_44.sql',
 'query_45.sql',
 'query_46.sql',
 'query_47.sql',
 'query_48.sql',
 'query_49.sql',
 'query_5.sql',
 'query_50.sql',
 'query_52.sql',
 'query_53.sql',
 'query_54.sql',
 'query_55.sql',
 'query_56.sql',
 'query_57.sql',
 'query_58.sql',
 'query_59.sql',
 'query_6.sql',
 'query_60.sql',
 'query_61.sql',
 'query_62.sql',
 'query_63.sql',
 'query_65.sql',
 'query_66.sql',
 'query_67.sql',
 'query_68.sql',
 'query_69.sql',
 'query_7.sql',
 'query_70.sql',
 'query_71.sql',
 'query_72.sql',
 'query_73.sql',
 'query_74.sql',
 'query_75.sql',
 'query_76.sql',
 'query_77.sql',
 'query_78.sql',
 'query_79.sql',
 'query_8.sql',
 'query_80.sql',
 'query_81.sql',
 'query_82.sql',
 'query_83.sql',
 'query_84.sql',
 'query_85.sql',
 'query_86.sql',
 'query_87.sql',
 'query_88.sql',
 'query_89.sql',
 'query_9.sql',
 'query_90.sql',
 'query_91.sql',
 'query_92.sql',
 'query_93.sql',
 'query_94.sql',
 'query_95.sql',
 'query_96.sql',
 'query_97.sql',
 'query_98.sql',
 'query_99.sql']

In [4]:

# Iterate through the queries and execute them
for query_file in query_files:
    print("Executing ", query_file)
    # extract query number from the query file name.
    query_name = os.path.splitext(query_file)[0]

    # Read the query from the file
    with open(os.path.join(query_path, query_file), 'r') as f:
        query=f.read()

    # Execute the query and measure execution time
    try:
        start_time = time.time()
        result = db_con.execute(query)
        execution_time = time.time()-start_time
    
        # Save the query result to a file
        output_file_path = query_result + query_name + ".csv"
        with open(output_file_path, "w") as out_file:
            for row in result.fetchall():
                out_file.write(str(row) + "\n")
        with open(query_time_file, "a") as time_file:
                time_file.write(f'Query {query_name} executed in {execution_time:.2f} seconds' + "\n")

        print(f'Query {query_name} executed in {execution_time:.2f} seconds')
    except Exception as e: 
        print(f'Query {query_name} executed in error: {e}')
# Close the database connection
db_con.close()

Executing  query_1.sql
Query query_1 executed in 0.01 seconds
Executing  query_10.sql
Query query_10 executed in error: Binder Error: Table "c" does not have a column named "c_gender"
LINE 20: GROUP BY c.c_gender,
                  ^
Executing  query_12.sql
Query query_12 executed in 0.13 seconds
Executing  query_13.sql
Query query_13 executed in error: Binder Error: Referenced column "ss_quantity" not found in FROM clause!
Executing  query_14.sql
Query query_14 executed in error: Parser Error: syntax error at or near "'I do not know'"
LINE 1: 'I do not know'
        ^
Executing  query_15.sql
Query query_15 executed in 1.02 seconds
Executing  query_16.sql
Query query_16 executed in error: Binder Error: No function matches the given name and argument types '+(VARCHAR, INTERVAL)'. You might need to add explicit type casts.
	Candidate functions:
	+(TINYINT) -> TINYINT
	+(TINYINT, TINYINT) -> TINYINT
	+(SMALLINT) -> SMALLINT
	+(SMALLINT, SMALLINT) -> SMALLINT
	+(INTEGER) -> INTEGER
	+(INTEGER, INTEGER) -> INTEGER
	+(BIGINT) -> BIGINT
	+(BIGINT, BIGINT) -> BIGINT
	+(HUGEINT) -> HUGEINT
	+(HUGEINT, HUGEINT) -> HUGEINT
	+(FLOAT) -> FLOAT
	+(FLOAT, FLOAT) -> FLOAT
	+(DOUBLE) -> DOUBLE
	+(DOUBLE, DOUBLE) -> DOUBLE
	+(DECIMAL) -> DECIMAL
	+(DECIMAL, DECIMAL) -> DECIMAL
	+(UTINYINT) -> UTINYINT
	+(UTINYINT, UTINYINT) -> UTINYINT
	+(USMALLINT) -> USMALLINT
	+(USMALLINT, USMALLINT) -> USMALLINT
	+(UINTEGER) -> UINTEGER
	+(UINTEGER, UINTEGER) -> UINTEGER
	+(UBIGINT) -> UBIGINT
	+(UBIGINT, UBIGINT) -> UBIGINT
	+(DATE, INTEGER) -> DATE
	+(INTEGER, DATE) -> DATE
	+(INTERVAL, INTERVAL) -> INTERVAL
	+(DATE, INTERVAL) -> DATE
	+(INTERVAL, DATE) -> DATE
	+(TIME, INTERVAL) -> TIME
	+(INTERVAL, TIME) -> TIME
	+(TIMESTAMP, INTERVAL) -> TIMESTAMP
	+(INTERVAL, TIMESTAMP) -> TIMESTAMP
	+(TIME, DATE) -> TIMESTAMP
	+(DATE, TIME) -> TIMESTAMP
	+(ANY[], ANY[]) -> ANY[]
	+(TIMESTAMP WITH TIME ZONE, INTERVAL) -> TIMESTAMP WITH TIME ZONE
	+(INTERVAL, TIMESTAMP WITH TIME ZONE) -> TIMESTAMP WITH TIME ZONE

LINE 8: ... cs1.cs_order_number) AS order_count,
       SUM(cs1.cs_ext_ship_cost) AS total_shipping_cost,
       SUM(cs1.cs_net_profit) AS total_net_profit
FROM catalog_sales AS cs1
JOIN date_dim ON cs1.cs_sold_date_sk = date_dim.d_date_sk
JOIN customer_address ON cs1.cs_ship_addr_sk = customer_address.ca_address_sk
JOIN call_center ON cs1.cs_call_center_sk = call_center.cc_call_center_sk
WHERE date_dim.d_date BETWEEN '2002-04-01' AND '2002-04-01' + interval '60 days'
                                                  ^
Executing  query_17.sql
Query query_17 executed in error: Conversion Error: Unimplemented type for cast (INTEGER -> DATE)
Executing  query_18.sql
Query query_18 executed in error: Invalid Input Error: No open result set
Executing  query_19.sql
Query query_19 executed in error: Binder Error: Table "ws" does not have a column named "ws_store_sk"
LINE 11: JOIN store s ON ws.ws_store_sk = s.s_store_sk
                         ^
Executing  query_2.sql
Query query_2 executed in error: Binder Error: column "d_week_seq" must appear in the GROUP BY clause or must be part of an aggregate function.
Either add it to the GROUP BY list, or use "ANY_VALUE(d_week_seq)" if the exact value of "d_week_seq" is not important.
LINE 15: ORDER BY d_week_seq NULLS LAST;
                  ^
Executing  query_20.sql
Query query_20 executed in 0.14 seconds
Executing  query_21.sql
Query query_21 executed in 0.06 seconds
Executing  query_22.sql

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Query query_22 executed in 16.44 seconds
Executing  query_23.sql
Query query_23 executed in 0.00 seconds
Executing  query_24.sql
Query query_24 executed in error: Binder Error: aggregate function calls cannot be nested
LINE 16: ...c_last_name,
       c.c_first_name,
       s.s_store_name,
       SUM(ss.ss_ext_sales_price) AS total_sales_price
FROM store_sales ss
JOIN item i ON ss.ss_item_sk = i.i_item_sk
JOIN store s ON ss.ss_store_sk = s.s_store_sk
JOIN customer c ON ss.ss_customer_sk = c.c_customer_sk
JOIN customer_address ca ON c.c_current_addr_sk = ca.ca_address_sk
WHERE i.i_color = 'beige'
  AND s.s_market_id = 8
  AND c.c_birth_country != ca.ca_country
GROUP BY c.c_last_name,
         c.c_first_name,
         s.s_store_name
HAVING SUM(ss.ss_ext_sales_price) > (0.05 * AVG(SUM(ss.ss_ext_sales_price)))
                                                   ^
Executing  query_25.sql
Query query_25 executed in error: Conversion Error: Unimplemented type for cast (INTEGER -> DATE)
Executing  query_26.sql
Query query_26 executed in error: Binder Error: No function matches the given name and argument types 'date_part(VARCHAR, INTEGER)'. You might need to add explicit type casts.
	Candidate functions:
	date_part(VARCHAR, DATE) -> BIGINT
	date_part(VARCHAR, TIMESTAMP) -> BIGINT
	date_part(VARCHAR, TIME) -> BIGINT
	date_part(VARCHAR, INTERVAL) -> BIGINT
	date_part(VARCHAR[], DATE) -> STRUCT()
	date_part(VARCHAR[], TIMESTAMP) -> STRUCT()
	date_part(VARCHAR[], TIME) -> STRUCT()
	date_part(VARCHAR[], INTERVAL) -> STRUCT()
	date_part(VARCHAR, TIMESTAMP WITH TIME ZONE) -> BIGINT
	date_part(VARCHAR[], TIMESTAMP WITH TIME ZONE) -> STRUCT()

LINE 8: WHERE EXTRACT(YEAR
              ^
Executing  query_27.sql
Query query_27 executed in error: Parser Error: syntax error at or near "WITH"
LINE 21:          s.ss_store_sk WITH ROLLUP
                                ^
Executing  query_28.sql
Query query_28 executed in error: Parser Error: syntax error at or near ","
LINE 9:   AND ss_coupon_amt BETWEEN 16,
                                      ^
Executing  query_29.sql
Query query_29 executed in error: Conversion Error: Unimplemented type for cast (INTEGER -> DATE)
Executing  query_3.sql
Query query_3 executed in 0.14 seconds
Executing  query_30.sql
Query query_30 executed in 0.25 seconds
Executing  query_31.sql
Query query_31 executed in 1.82 seconds
Executing  query_32.sql
Query query_32 executed in 0.05 seconds
Executing  query_33.sql
Query query_33 executed in error: Binder Error: Table "s" does not have a column named "s_item_sk"
Executing  query_34.sql
Query query_34 executed in 0.07 seconds
Executing  query_35.sql
Query query_35 executed in error: Binder Error: Table "c" does not have a column named "c_state"
Executing  query_36.sql
Query query_36 executed in 0.52 seconds
Executing  query_37.sql
Query query_37 executed in 0.23 seconds
Executing  query_38.sql
Query query_38 executed in error: Catalog Error: Scalar Function with name to_number does not exist!
Did you mean "md5_number"?
LINE 11: WHERE to_number(to_char(d.d_date, 'MM'), '99') = 12
  AND to_number(to_char(d.d_date, 'YYYY'), '9999') = 2001
LIMIT 100;...
               ^
Executing  query_39.sql

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Query query_39 executed in 4.05 seconds
Executing  query_4.sql
Query query_4 executed in error: Parser Error: syntax error at or near ";"
LINE 61: AND s;
              ^
Executing  query_40.sql
Query query_40 executed in 0.04 seconds
Executing  query_41.sql
Query query_41 executed in 0.02 seconds
Executing  query_42.sql
Query query_42 executed in 0.10 seconds
Executing  query_43.sql
Query query_43 executed in error: Catalog Error: Table with name fact_online_sales does not exist!
Did you mean "store_sales"?
Executing  query_44.sql
Query query_44 executed in 0.43 seconds
Executing  query_45.sql
Query query_45 executed in error: Binder Error: No function matches the given name and argument types 'date_part(VARCHAR, INTEGER)'. You might need to add explicit type casts.
	Candidate functions:
	date_part(VARCHAR, DATE) -> BIGINT
	date_part(VARCHAR, TIMESTAMP) -> BIGINT
	date_part(VARCHAR, TIME) -> BIGINT
	date_part(VARCHAR, INTERVAL) -> BIGINT
	date_part(VARCHAR[], DATE) -> STRUCT()
	date_part(VARCHAR[], TIMESTAMP) -> STRUCT()
	date_part(VARCHAR[], TIME) -> STRUCT()
	date_part(VARCHAR[], INTERVAL) -> STRUCT()
	date_part(VARCHAR, TIMESTAMP WITH TIME ZONE) -> BIGINT
	date_part(VARCHAR[], TIMESTAMP WITH TIME ZONE) -> STRUCT()

LINE 15:   AND EXTRACT(QUARTER
               ^
Executing  query_46.sql
Query query_46 executed in error: Binder Error: column "ss_ticket_number" must appear in the GROUP BY clause or must be part of an aggregate function.
Either add it to the GROUP BY list, or use "ANY_VALUE(ss_ticket_number)" if the exact value of "ss_ticket_number" is not important.
LINE 31:          ss.ss_ticket_number
                  ^
Executing  query_47.sql
Query query_47 executed in error: Parser Error: syntax error at or near ";"
LINE 54: ...       i_category,
       s_store_name,
       s_company_name,
       EXTRACT(YEAR
               FROM i_rec_start_date) AS YEAR,
       EXTRACT(MONTH
               FROM i_rec_start_date) AS MONTH,
       SUM(ss_quantity * ss_sales_price) AS sales,
       AVG(SUM(ss_quantity * ss_sales_price)) OVER (PARTITION BY i_brand,
                                                                 i_category,
                                                                 s_store_name,
                                                                 s_company_name,
                                                                 EXTRACT(YEAR
                                                                         FROM i_rec_start_date)) AS avg_monthly_sales,
                                                   ((SUM(ss_quantity * ss_sales_price) - AVG(SUM(ss_quantity * ss_sales_price)) OVER (PARTITION BY i_brand,
                                                                                                                                                   i_category,
                                                                                                                                                   s_store_name,
                                                                                                                                                   s_company_name,
                                                                                                                                                   EXTRACT(YEAR
                                                                                                                                                           FROM i_rec_start_date))) / NULLIF(AVG(SUM(ss_quantity * ss_sales_price)) OVER (PARTITION BY i_brand, i_category, s_store_name, s_company_name, EXTRACT(YEAR
                                                                                                                                                                                                                                                                                                                  FROM i_rec_start_date)), 0)) * 100 AS pct_change,
                                                   lag(SUM(ss_quantity * ss_sales_price)) OVER (PARTITION BY i_brand,
                                                                                                             i_category,
                                                                                                             s_store_name,
                                                                                                             s_company_name,
                                                                                                             EXTRACT(YEAR
                                                                                                                     FROM i_rec_start_date)
                                                                                                ORDER BY EXTRACT(YEAR
                                                                                                                 FROM i_rec_start_date),
                                                                                                         EXTRACT(MONTH
                                                                                                                 FROM i_rec_start_date)) AS prev_month_sales,
                                                                                               lead(SUM(ss_quantity * ss_sales_price)) OVER (PARTITION BY i_brand,
                                                                                                                                                          i_category,
                                                                                                                                                          s_store_name,
                                                                                                                                                          s_company_name,
                                                                                                                                                          EXTRACT(YEAR
                                                                                                                                                                  FROM i_rec_start_date)
                                                                                                                                             ORDER BY EXTRACT(YEAR
                                                                                                                                                              FROM i_rec_start_date),
                                                                                                                                                      EXTRACT(MONTH
                                                                                                                                                              FROM i_rec_start_date)) AS next_month_sales
FROM store_sales
JOIN item ON ss_item_sk = i_item_sk
JOIN store ON s_store_sk = ss_store_sk
WHERE EXTRACT(YEAR
              FROM i_rec_start_date) = 2001
GROUP BY i_brand,
         i_category,
         s_store_name,
         s_company_name,
         YEAR,
         MONTH
HAVING ((SUM(ss_quantity * ss_sales_price) - AVG(SUM(ss;
                                                   ^
Executing  query_48.sql
Query query_48 executed in error: Parser Error: syntax error at or near ";"
LINE 44:   AND ss.ss_net_profit BETWEEN 5;
                                         ^
Executing  query_49.sql
Query query_49 executed in 0.00 seconds
Executing  query_5.sql
Query query_5 executed in 0.56 seconds
Executing  query_50.sql
Query query_50 executed in error: Binder Error: Table "s" does not have a column named "s_"
LINE 51:          s.s_;
                  ^
Executing  query_52.sql
Query query_52 executed in 0.21 seconds
Executing  query_53.sql
Query query_53 executed in error: Catalog Error: Table with name sales_summary does not exist!
Did you mean "temp.information_schema.tables"?
Executing  query_54.sql
Query query_54 executed in 0.00 seconds
Executing  query_55.sql
Query query_55 executed in error: Binder Error: Table "s" does not have a column named "s_date_sk"
Executing  query_56.sql
Query query_56 executed in error: Binder Error: Table "d" does not have a column named "d_month_name"
LINE 12:   AND d.d_month_name = 'February'
               ^
Executing  query_57.sql
Query query_57 executed in error: Binder Error: Referenced column "cc_sales_date_sk" not found in FROM clause!
Candidate bindings: "call_center.cc_open_date_sk"
LINE 26:               FROM cc_sales_date_sk) = 1999
                            ^
Executing  query_58.sql
Query query_58 executed in error: Parser Error: syntax error at or near ";"
LINE 46: JOIN;
             ^
Executing  query_59.sql
Query query_59 executed in 0.00 seconds
Executing  query_6.sql
Query query_6 executed in 0.15 seconds
Executing  query_60.sql
Query query_60 executed in error: Binder Error: Table "s" does not have a column named "s_sold_date_sk"
Executing  query_61.sql
Query query_61 executed in error: Binder Error: Table "d" does not have a column named "d_month_name"
LINE 13:   AND d.d_month_name = 'November'
               ^
Executing  query_62.sql
Query query_62 executed in error: Binder Error: Table "ws" does not have a column named "web_name"
LINE 26:          ws.web_name
                  ^
Executing  query_63.sql
Query query_63 executed in error: Binder Error: column avg_monthly_sales must appear in the GROUP BY clause or be used in an aggregate function
Executing  query_65.sql
Query query_65 executed in error: Binder Error: Referenced table "s" not found!
Candidate tables: "ss"
Executing  query_66.sql
Query query_66 executed in 0.06 seconds
Executing  query_67.sql
Query query_67 executed in 0.05 seconds
Executing  query_68.sql
Query query_68 executed in error: Binder Error: Referenced table "d" not found!
Candidate tables: "s", "c", "hd", "ca", "ss"
LINE 17:               FROM d.d_date) IN (1998,
                            ^
Executing  query_69.sql
Query query_69 executed in error: Binder Error: Referenced table "c" not found!
LINE 1: SELECT c.c_gender,
               ^
Executing  query_7.sql
Query query_7 executed in error: Binder Error: No function matches the given name and argument types 'date_part(VARCHAR, INTEGER)'. You might need to add explicit type casts.
	Candidate functions:
	date_part(VARCHAR, DATE) -> BIGINT
	date_part(VARCHAR, TIMESTAMP) -> BIGINT
	date_part(VARCHAR, TIME) -> BIGINT
	date_part(VARCHAR, INTERVAL) -> BIGINT
	date_part(VARCHAR[], DATE) -> STRUCT()
	date_part(VARCHAR[], TIMESTAMP) -> STRUCT()
	date_part(VARCHAR[], TIME) -> STRUCT()
	date_part(VARCHAR[], INTERVAL) -> STRUCT()
	date_part(VARCHAR, TIMESTAMP WITH TIME ZONE) -> BIGINT
	date_part(VARCHAR[], TIMESTAMP WITH TIME ZONE) -> STRUCT()

LINE 7:   AND EXTRACT(YEAR
              ^
Executing  query_70.sql
Query query_70 executed in 0.00 seconds
Executing  query_71.sql
Query query_71 executed in error: Binder Error: Table "s" does not have a column named "s_item_sk"
LINE 9: JOIN item i ON s.s_item_sk = i.i_item_sk
                       ^
Executing  query_72.sql

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Query query_72 executed in 2.84 seconds
Executing  query_73.sql
Query query_73 executed in 0.01 seconds
Executing  query_74.sql
Query query_74 executed in error: Binder Error: Referenced table "c" not found!
Candidate tables: "year_total"
LINE 1: SELECT c.c_first_name,
               ^
Executing  query_75.sql
Query query_75 executed in error: Parser Error: syntax error at or near ";"
LINE 44: WHERE CAST(curr_yr.;
                            ^
Executing  query_76.sql
Query query_76 executed in error: Parser Error: syntax error at or near "UNION"
LINE 23: UNION ALL
         ^
Executing  query_77.sql
Query query_77 executed in error: Parser Error: syntax error at or near "UNION"
LINE 14: UNION ALL
         ^
Executing  query_78.sql
Query query_78 executed in 1.52 seconds
Executing  query_79.sql
Query query_79 executed in 0.01 seconds
Executing  query_8.sql
Query query_8 executed in 0.01 seconds
Executing  query_80.sql
Query query_80 executed in error: Binder Error: Table "ss" does not have a column named "ss_ext_net_profit"
Executing  query_81.sql
Query query_81 executed in 0.15 seconds
Executing  query_82.sql
Query query_82 executed in error: Binder Error: Table "inv" does not have a column named "inv_quantity"
LINE 12:   AND inv.inv_quantity BETWEEN 100 AND 500
               ^
Executing  query_83.sql
Query query_83 executed in 0.13 seconds
Executing  query_84.sql
Query query_84 executed in 0.03 seconds
Executing  query_85.sql
Query query_85 executed in error: Binder Error: Table "wr" does not have a column named "wr_return_reason_desc"
LINE 17: GROUP BY wr.wr_return_reason_desc,
                  ^
Executing  query_86.sql
Query query_86 executed in 0.03 seconds
Executing  query_87.sql
Query query_87 executed in 0.00 seconds
Executing  query_88.sql
Query query_88 executed in error: Parser Error: syntax error at or near ";"
LINE 46: ...TRACT(HOUR
                            FROM to_timestamp(s.ss_sold_time_sk)) = 8
                    AND EXTRACT(MINUTE
                                FROM to_timestamp(s.ss_sold_time_sk)) BETWEEN 30 AND 59 THEN s.ss_quantity
               ELSE 0
           END) AS h8_30_to_9,
       SUM(CASE
               WHEN EXTRACT(HOUR
                            FROM to_timestamp(s.ss_sold_time_sk)) = 9
                    AND EXTRACT(MINUTE
                                FROM to_timestamp(s.ss_sold_time_sk)) BETWEEN 0 AND 29 THEN s.ss_quantity
               ELSE 0
           END) AS h9_to_9_30,
       SUM(CASE
               WHEN EXTRACT(HOUR
                            FROM to_timestamp(s.ss_sold_time_sk)) = 9
                    AND EXTRACT(MINUTE
                                FROM to_timestamp(s.ss_sold_time_sk)) BETWEEN 30 AND 59 THEN s.ss_quantity
               ELSE 0
           END) AS h9_30_to_10,
       SUM(CASE
               WHEN EXTRACT(HOUR
                            FROM to_timestamp(s.ss_sold_time_sk)) = 10
                    AND EXTRACT(MINUTE
                                FROM to_timestamp(s.ss_sold_time_sk)) BETWEEN 0 AND 29 THEN s.ss_quantity
               ELSE 0
           END) AS h10_to_10_30,
       SUM(CASE
               WHEN EXTRACT(HOUR
                            FROM to_timestamp(s.ss_sold_time_sk)) = 10
                    AND EXTRACT(MINUTE
                                FROM to_timestamp(s.ss_sold_time_sk)) BETWEEN 30 AND 59 THEN s.ss_quantity
               ELSE 0
           END) AS h10_30_to_11,
       SUM(CASE
               WHEN EXTRACT(HOUR
                            FROM to_timestamp(s.ss_sold_time_sk)) = 11
                    AND EXTRACT(MINUTE
                                FROM to_timestamp(s.ss_sold_time_sk)) BETWEEN 0 AND 29 THEN s.ss_quantity
               ELSE 0
           END) AS h11_to_11_30,
       SUM(CASE WHEN EXTRACT(HOUR
                             FROM to_timestamp(s.ss_sold_time_sk)) = 11
AND EXTRACT(MINUTE
            FROM to_timestamp(s.ss_sold_time_sk)) BETWEEN 30 AND 59 THEN s.ss;
                                                   ^
Executing  query_89.sql
Query query_89 executed in error: Binder Error: No function matches the given name and argument types 'date_part(VARCHAR, INTEGER)'. You might need to add explicit type casts.
	Candidate functions:
	date_part(VARCHAR, DATE) -> BIGINT
	date_part(VARCHAR, TIMESTAMP) -> BIGINT
	date_part(VARCHAR, TIME) -> BIGINT
	date_part(VARCHAR, INTERVAL) -> BIGINT
	date_part(VARCHAR[], DATE) -> STRUCT()
	date_part(VARCHAR[], TIMESTAMP) -> STRUCT()
	date_part(VARCHAR[], TIME) -> STRUCT()
	date_part(VARCHAR[], INTERVAL) -> STRUCT()
	date_part(VARCHAR, TIMESTAMP WITH TIME ZONE) -> BIGINT
	date_part(VARCHAR[], TIMESTAMP WITH TIME ZONE) -> STRUCT()

LINE 22: WHERE EXTRACT(YEAR
               ^
Executing  query_9.sql
Query query_9 executed in error: Binder Error: Referenced column "ss_ext_sales_price" not found in FROM clause!
Executing  query_90.sql
Query query_90 executed in 0.08 seconds
Executing  query_91.sql
Query query_91 executed in error: Binder Error: Table "dd" does not have a column named "d_month_name"
LINE 11:   AND dd.d_month_name = 'November'
               ^
Executing  query_92.sql
Query query_92 executed in 0.03 seconds
Executing  query_93.sql
Query query_93 executed in 0.40 seconds
Executing  query_94.sql
Query query_94 executed in 0.06 seconds
Executing  query_95.sql
Query query_95 executed in 0.05 seconds
Executing  query_96.sql
Query query_96 executed in 0.09 seconds
Executing  query_97.sql
Query query_97 executed in error: Binder Error: Ambiguous reference to column name "customer_sk" (use: "ssci.customer_sk" or "csci.customer_sk")
Executing  query_98.sql
Query query_98 executed in 0.25 seconds
Executing  query_99.sql
Query query_99 executed in error: Conversion Error: Unimplemented type for cast (INTEGER -> DATE)